body,
div,
ul,
li,
dl,
dd,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
a,
select,
table,
th,
td,
tr,
textarea,
button,
form,
figure,
figcaption,
mark,
::placeholder {
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  background-color: transparent;
  box-sizing: border-box;
  word-break: keep-all;
  text-align: inherit;
}
body,
div,
ul,
li,
dl,
dd,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
select,
textarea,
button,
form,
figure,
figcaption {
  border: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}
